.form > h4 {
    margin-bottom: 20px;
}

.form > div, #selection-treeview {
    display: inline-block;
    vertical-align: top;
}

#checked-items {
    margin-top: 20px;
}

.selected-data {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    font-size: 115%;
    font-weight: bold;
}

.dx-list-item-content {
    padding-left: 0;
}